<div id="communication-plan">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-7 columns pageTitle">
        <h1><%= link_to @plan.name, @plan %></h1>
      </div>
      <div class="large-3 columns text-right pageTitle">
        <p><em>UPDATED: <%= @plan.updated_at.strftime("%D %l:%M %P") %></em></p>
        <%= link_to "<< Back to Plan", @plan, class: "button tiny" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
        <% if user_signed_in? %>
          <%= render "form" %>
        <% end %>
    </div>
  </div>
</div>
