<p>The plan <%= @plan %> is currently missing a staff list.</p>

<p>You are required to submit a complete staff list no less than one week
prior to the first operational period. This staff list should include the
following information for each contracted medical interventionist:</p>

<ul>
  <li>Full legal name</li>
  <li>Level of certification/licensure</li>
  <li>Certification/license expiration</li>
</ul>

<p>All contracted medical interventionists must be active, current, and in
 good-standing at the time of the operational period. </p>

<p><%= link_to "View plan and submit staff list", @plan, target: "_blank" %></p>
