<fieldset>
  <legend>Post Event Treatment Report Creator</legend>
  <p><%= creator.name %></p>
  <p><i class="fi-mail"></i> <%= creator.email %></p>
  <p><i class="fi-telephone"></i> <%= creator.phone_number.phony_formatted(format: :national, spaces: ' ') if creator.phone_number.present? %></p>
</fieldset>
