<div class="row">
  <div class="pageHeader small-12 large-12 columns">
    <span class="pageTitle large-9 columns">
      <h2>Post Event Treatment Reports</h2>
    </span>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <%= render "grid_grid" %>
  </div>
</div>
