<div class="row">
  <div class="small-12 columns">
    <h1>Admin Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Manage Users", users_path, class: "button primary small" %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Manage Organizations", organizations_path, class: "button primary small" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to "Manage Venues", venues_path, class: "button primary small" %>
  </div>
</div>