<div class="permitter hidden" data-permitter-id="<%= permitter.id %>">
  <%= simple_format permitter.address, class: "address" %>
  <p class="phone-number">
    <i class="fi-telephone"></i>
    <%= permitter.phone_number %>
  </p>
</div>

