
<p><%= @commenter %> commented on <%= @commentable %>:</p>

<blockquote>
  <em>
    <%= @comment.body %>
  </em>
</blockquote>

<p><%= link_to "View comment and reply", plan_url(@plan, anchor: "comment-#{@comment.id}"), target: "_blank" %></p>
