<div data-alert class="alert-box info radius">
  <%= render [ "notifications", notification.partial ].join("/"), notification: notification, "#{notification.subject_type.underscore}": notification.subject %>
  <div class="right" style="margin-right: 1em; color: gray">
    <em>
      <%= time_ago_in_words(notification.created_at) %> ago
    </em>
  </div>
  <%= link_to "&times;".html_safe, [ notification, notification: { read: true } ], method: "PUT", remote: true, class: "close" %>
</div>
