<div class="row spacing">
  <div class="large-5 medium-6 small-11 columns">
    <h2><%= @user == @current_user ? "Your Account Settings" : "EDIT USER SETTINGS" %></h2>
    <%= render partial: 'form' %>
    <br>
    <%= link_to "< Back", :back %>
  </div>
</div>