<div class="spacing">
  <div class="row pageTitle">
    <div class="large-6 medium-4 columns">
      <h2>ALL USERS</h2>
    </div>
    <div class="large-6 medium-4 columns">
      <%= link_to_if(can?(:create, User), "Create New User", new_users_admin_path, :class => 'button primary small') %>
    </div>
  </div>
  <div class="row">
  <%= grid(@user_grid, show_filters: :when_filtered) do |g|
    g.column name: 'Name', attribute: 'name'
    g.column name: 'Email', attribute: 'email'
    g.column name: 'Role' do |u|
      User.pretty_roles.invert[u.roles.first]
    end
    g.column name: '' do |u|
      link_to 'Edit', edit_users_admin_path(u.id), class: 'button secondary tiny'
    end
    g.column name: '' do |u|
      link_to 'Delete', users_admin_path(u.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert'
    end
  end -%>
  </div>
</div>


