<% if current_user.admin? %>
  <dl class="sub-nav right">
    <dt><i class="fi-widget"></i> <%= link_to "ADMIN", :admin %></dt>
    <span class="right">
        <dd><%= link_to "Manage Users", users_path %>
        <dd><%= link_to "Manage Organizations", organizations_path %></dd>
    </span>
  </dl>
<% end %>