<ol class="joyride-list" data-joyride>
   <li data-id="plan_name" data-text="Next" data-options="prev_button: false;">
    <h4>Welcome!</h4>
    <p>This guide will walk you through the steps on the form.</p>
  </li>
  <li data-id="new_plan_user_button" data-text="Next" data-prev-text="Prev">
    <p>Add some collaborators. These will be providers or anyone else you would like to view or edit the plan.</p>
  </li>
  <li data-id="stepThree" data-text="Next" data-prev-text="Prev">
    <p>Choose which type of event.</p>
  </li>
  <li data-id="stepFour" data-text="Next" data-prev-text="Prev">
    <p>Which agency will be permitting the event?</p>
  </li>
  <li data-id="stepFive" data-text="Next" data-prev-text="Prev">
    <p>Will there be alcohol served?</p>
  </li>
  <li data-id="stepSix" data-text="Next" data-prev-text="Prev">
    <p>Where will the event be held?</p>
  </li>
</ol>
