<ol class="joyride-list" data-joyride>
   <li data-id="plan_name" data-text="Next" data-options="prev_button: false;">
    <h4>Welcome!</h4>
    <p>This guide will walk you through the steps necessary to submit a new Medical Plan. Press X to stop this feature and remove all future prompts.</p>
  </li>
  <li data-id="stepTwo" data-text="Next" data-prev-text="Prev">
    <p>Please select the most accurate description of your event-type.</p>
  </li>
  <li data-id="stepThree" data-text="Next" data-prev-text="Prev">
    <p>Will there be alcohol served or sold at your event?</p>
  </li>
  <li data-id="stepFour" data-text="Next" data-prev-text="Prev">
    <p>Which agency have you filed your permit application with?</p>
  </li>
  <li data-id="stepSix" data-text="Next" data-prev-text="Prev">
    <p>Where will the event be held? Please use the drop-down list or select "Other".</p>
  </li>
  <li data-id="new_plan_user_button" data-text="Next" data-prev-text="Prev">
    <p>Please add some collaborators, if necessary. Collaborators are service providers, planners, or anyone else you would like to allow permission to view or edit the plan.</p>
  </li>
  <li data-id="operation-period-tabs"  data-text="Next" data-prev-text="Prev">
    <p>Add an operational period.</p>
  </li>
  <li data-id="stepSeven" data-text="Next" data-prev-text="Prev">
    <p>Select the starting and ending date and time for the event Operational Period (OP). An OP is a segment of time that the event will be active. Some events will have one OP, and some may even have several. Each event-day should be entered as a new OP, with assets, times, and attendance updated.</p>
  </li>
  <li data-id="stepEight" data-text="Next" data-prev-text="Prev">
    <p>Please enter the number of participants/attendees at the peak time of the OP. For instance, if the event is expected to have 50,000 per day, but no more than 20,000, at any one time, your Peak Attendance would be 20,000.</p>
  </li>
  <li data-id="stepNine" data-text="Next" data-prev-text="Prev">
    <p>Please enter the total number of people expected to participate/attend throughout the entire OP. (Please do not list the total number, for multiple OP's.)</p>
  </li>
  <li data-id="stepTen" data-text="Next" data-prev-text="Prev">
    <p>Please describe the footprint for the entire operational period. (i.e. streets used, parade routes, public areas, etc.) </p>
  </li>
  <li data-id="stepEleven" data-text="Next" data-prev-text="Prev">
    <p>You are given the opportunity to describe the location, capabilities and contact information, for your First Aid Station (FAS), here.</p>
  </li>
  <li data-id="stepTwelve" data-text="Next" data-prev-text="Prev">
    <p>You are given the opportunity to describe the location, capabilities and contact information, for your Mobile Teams (MAT), here.</p>
  </li>
  <li data-id="stepThirteen" data-text="Next" data-prev-text="Prev">
    <p>You are given the opportunity to describe the location, capabilities and contact information, for your Transport Units, here.</p>
  </li>
  <li data-id="stepFourteen" data-text="Next" data-prev-text="Prev">
    <p>You are given the opportunity to describe the location, capabilities and contact information, for your Dispatch and Unified Command, here.</p>
  </li>
  <li data-id="stepFifteen" data-text="Next" data-prev-text="Prev">
    <p>Please carefully read each of the following responsibilities. You will need to accept these, in order to submit your event medical plan for evaluation.</p>
  </li>
  <li data-id="stepSixteen" data-text="Next" data-prev-text="Prev">
    <p>Please read and accept the Staff Responsibility Voucher and upload a staff list for all contracted medical interventionists. (Not including employees of SF Permitted Providers. i.e. SFFD, AMR, KIng American, ProTransport-1, etc.). You may upload the staff list later, but it MUST be received no less than one week prior to your OP.</p>
  </li>
  <li data-id="stepSeventeen" data-text="Next" data-prev-text="Prev">
    <p>Please upload any other pertinent documents here (i.e. maps, crisis plans, contact lists, expanded plans, etc.)</p>
  </li>
  <li data-id="stepEighteen" data-text="Next" data-prev-text="Prev">
    <p>Please enter the details for the person that will complete the Post Event Treatment Report. (This is a mandatory report, listing all medical contacts and transports during the event OP. It must be submitted no more than 14 days after the final OP ends.)</p>
  </li>
  <li data-prev-text="Prev" data-button="End">
    <p>When you are ready submit your plan for review!</p>
  </li>
</ol>
