<ol class="joyride-list" data-joyride>
   <li data-id="plan_name" data-text="Next" data-options="prev_button: false;">
    <h4>Welcome!</h4>
    <p>This guide will walk you through the steps on the form.</p>
  </li>
  <li data-id="stepTwo" data-text="Next" data-prev-text="Prev">
    <p>Choose which type of event.</p>
  </li>
  <li data-id="stepThree" data-text="Next" data-prev-text="Prev">
    <p>Will there be alcohol served?</p>
  </li>
  <li data-id="stepFour" data-text="Next" data-prev-text="Prev">
    <p>Which agency will be permitting the event?</p>
  </li>
  <li data-id="stepSix" data-text="Next" data-prev-text="Prev">
    <p>Where will the event be held?</p>
  </li>
  <li data-id="new_plan_user_button" data-text="Next" data-prev-text="Prev">
    <p>Add some collaborators. These will be providers or anyone else you would like to view or edit the plan.</p>
  </li>
  <li data-id="operation-period-tabs"  data-text="Next" data-prev-text="Prev">
    <p>Add an operational period.</p>
  </li>
  <li data-id="stepSeven" data-text="Next" data-prev-text="Prev">
    <p>Select the starting and ending date and time for the operation period.</p>
  </li>
  <li data-id="stepEight" data-text="Next" data-prev-text="Prev">
    <p>Fill in the number of participants at the peak time of the operational period.</p>
  </li>
  <li data-id="stepNine" data-text="Next" data-prev-text="Prev">
    <p>Fill in the total number of people in attendance for the entire operational period.</p>
  </li>
  <li data-id="stepTen" data-text="Next" data-prev-text="Prev">
    <p>Describe the footprint for the entire operational period.</p>
  </li>
  <li data-id="stepEleven" data-text="Next" data-prev-text="Prev">
    <p>Add individual assets for the operational period.</p>
  </li>
  <li data-id="stepTwelve" data-text="Next" data-prev-text="Prev">
    <p>Read and accept each of the responsibilities outlined.</p>
  </li>
  <li data-id="stepThirteen" data-text="Next" data-prev-text="Prev">
    <p>Accept the Staff Responsibility and upload a staff contact list for all contracted medical interventionists.</p>
  </li>
  <li data-id="stepFourteen" data-text="Next" data-prev-text="Prev">
    <p>Attach any other documents here (i.e. maps, crisis plans, contact lists, etc).</p>
  </li>
  <li data-id="stepFifteen" data-text="Next" data-prev-text="Prev">
    <p>Fill in the details for the person that will complete the Post Event Treatment Report.</p>
  </li>
  <li data-prev-text="Prev" data-button="End">
    <p>When you are ready submit your plan for review!</p>
  </li>
</ol>
