<ol class="joyride-list" data-joyride>
   <li data-id="plan_name" data-text="Next" data-options="prev_button: false;">
    <h4>Welcome!</h4>
    <p>This guide will walk you through the steps on the form.</p>
  </li>
  <li data-id="new_plan_user_button" data-text="Next" data-prev-text="Prev">
    <p>Add some collaborators. These will be providers or anyone else you would like to view or edit the plan.</p>
  </li>
  <li data-text="Next" data-prev-text="Prev">
    <p>Don't forget to save your progress whenever you make changes!</p>
  </li>
</ol>
