<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"> 
    </li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li>
      </li>
      <li>
      </li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to "Welcome, #{current_user.name ||= current_user.email}", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
