<div class="learn_more">
  <div class="row">
    <div class="large-12 columns end">
      <h4>Welcome to the “Learn More” page. On this page you will find links to the Policy that governs medical staffing at special events and mass gatherings. You will also find contact information for the Permitted Medical Providers for San Francisco, as well as the Permitting Agency contact information. Samples of previous approved plans can also be found here.</h4>
      <ul class="no-bullet">
        <li><a href="https://s3-us-west-2.amazonaws.com/senoia/DPH+Sobering+Center+Protocols_September+2013.pdf">DPH Sobering Center Protocols September 2013</a></li>
        <li><a href="https://s3-us-west-2.amazonaws.com/senoia/7010+Special+Events_01-30-2017.pdf">Policy 7010</a></li>
        <li><a href="https://s3-us-west-2.amazonaws.com/senoia/Sobering+Center+Encounter+Form.pdf">Sobering Center Encounter Form</a></li>
        <li><a href="http://sfdem.org/sites/default/files/MCI%20Policy%26Plan2016MERGED.pdf">MCI Capabilities Reference</a></li>
        <li><a href="http://sfdem.org/ems-system-providers">City and County of SF Permitted Ambulance Providers</a></li>
      </ul>
    </div>
  </div>
</div>
