<div class="row">
  <div class="large-6 columns">
    <%= simple_form_for @venue do |f| %>
      <%= f.input :name %><br>  
      
      <%= f.submit class: "button" %>

    <% end %> 
  </div>
</div>
