<div class="row">
  <div class="large-12 columns">
    <h2>EDIT VENUE INFORMATION</h2>
  </div>
  <div class="large-8 end columns">
    <%= render 'form' %>
    <br>
    <%= link_to '< Back', venues_path %>
  </div>
</div>