<% plan_form = form_builder_for(@plan) %>

$(".tabs-content").append("<%= j render(partial: 'operation_periods/form', locals: { f: plan_form, operation_period: @clone, count: @count } )%>")
$(".tabs").append('<li class="tab-title"><a href="#panel<%= @count %>">Operational Period <%= @count %></a></li>')
$('.dateTimeSelect').fdatetimepicker({
    format: 'mm/dd/yyyy H:ii p'
  });
$(".tab-title:last a").trigger("click");
