<table id="transportation-records">
  <thead>
    <th>Chief Complaint</th>
    <th>Transporting Unit</th>
    <th>Destination</th>
    <th>Time Patient Transported Off-site</th>
    <th></th>
  </thead>
  <tbody>
    <% transportation_records.each do |record| %>
      <%= render record %>
    <% end %>
    <tr id="new-transportation-record">
      <td>
        <%= link_to [ :new, @plan, @post_event_treatment_report, :transportation_record, format: :js ], class: "button tiny radius", id: "neww-transportation-record", remote: true do %>
          &plus;
        <% end %>
      </td>
      <td colspan="4"></td>
    </tr>
  </tbody>
</table>
