<tr class="transportation-record" id="transportation-record-<%= transportation_record.id %>">
  <% %w(chief_complaint transport destination).each do |attribute| %>
    <td><%= transportation_record.send(attribute) %></td>
  <% end %>
  <td><%= l transportation_record.transported_at rescue "" %></td>
  <td><%= link_to "Remove", transportation_record, method: "DELETE", remote: true, data: { confirm: "Really remove this record?" } %></td>
</tr>
