<div class="row">
  <div class="row pageTitle with-margin">
    <div class="large-6 medium-4 columns">
      <h2>Event Types</h2>
    </div>
    <div class="large-6 medium-4 columns">
      <%= link_to "New Event Type", new_event_type_path, class: "button primary" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <% @events.all.each do |e| %>
      <tbody>
        <tr>
          <td><%= e.name %></td>
          <td><%= e.description %></td>
          <td><%= link_to "Edit", edit_event_type_path(e.id), class: 'button tiny default' %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
