/* COLORS */
$postcodeblue: #86CBD9;
$darkgray: #58585B;
$mediumgray: #bcbcbc;
$lightgray: #E6E7E8;
$promptlyblue: #789FD3;
$recordtracred: #EC916F;
$green: #86CDB2;
$orange: #EEA758;
$yellow: #EDD364;
$alert-color: #f04124;

/* Element Colors */
$typography: #58585B;
$btntext: #FFF;
