$orange: #EEA758;
$lightgray: #E6E7E8;
$mediumgray: #bcbcbc;

.comment-section{
  margin: .3em 0em 1em 0em;
  padding-top: .4em;
  border-top: 2px solid $orange;  
  a{
    margin: 1em 0em;    
    color: $orange;
      &:hover{
        color:darken( $orange, 20% );
      }        
  }
}
.comment-area{
  border-top: 1px solid $lightgray;
  margin-bottom: .5em;
  margin-top: .5em;
  padding: 0.5em 0em 0em 0em;
  h5{
    color: $orange;
    font-size: .9em;
    margin-bottom: 0em;
    text-transform: none;
  }
  p{
    color: $mediumgray;
    font-size: .7em;
    margin-bottom: .75em;
  }
  .comment-reply {
    padding-left: 0.8em;
  } 
  #contact_comment_text_comment_reply_text{
    margin-top: 1em;
  } 
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  margin: 0 0 0rem 0; 
}
