<div class="row">
  <div class="row pageTitle with-margin">
    <div class="large-6 medium-4 columns">
      <h2>Organizations</h2>
    </div>
    <div class="large-6 medium-4 columns">
      <%= link_to "New Organization", new_organization_path, class: "button primary" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <%= grid(@organization_grid, show_filters: :when_filtered) do |g|
      g.column name: 'Name', attribute: 'name'
      g.column name: 'Address', attribute: 'address'
      g.column name: 'Email', attribute: 'email'
      g.column name: 'Phone Number', attribute: 'phone_number' do |phone|
        phone.phone_number.phony_formatted(format: :national, spaces: ' ')
      end
      g.column name: 'Type', attribute: 'name', assoc: :organization_type
      g.column name: '' do |u|
        link_to 'Edit', edit_organization_path(u.id), class: 'button secondary tiny'
      end
    end -%>
  </div>
</div>
