<% if plan.all_comments_resolved? %>
  <%= link_to approve_plan_path(plan), class: "button large radius success", data: { confirm: "I know I know, just want to confirm that you are ready to approve this plan." }, method: :post do %>
    <i class="fi-check"></i>
    APPROVE PLAN
  <% end %>
<% else %>
  <p>
    All comments must be resolved before the plan can be approved.
  </p>
<% end %>
