<tr>

  <% %w(name level md rn emt aed provider contact_name contact_phone).each do |attribute| %>
  
  <td>
    <span><%= first_aid_station[attribute] %></span>
    <%= hidden_field_tag "plan[operation_periods_attributes][#{operation_period_index}][first_aid_stations_attributes][#{first_aid_station_id}][#{attribute}]", first_aid_station[attribute] %>
  </td>

  <% end %>

</tr>
