<% if current_user.present? %>
<div class="floating-actions plan-action">
  <%= f.button :button, class: "button small radius warning", label: false do %>
    <i class="fi-check"></i> SAVE
  <% end %>
</div>
<% end %>
