<div id="new-dispatch" class="reveal-modal small" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h3>Add Dispatch</h3>
  <div class="modal-body">
    <%= simple_fields_for :dispatch do |d| %>
      <%= d.input :name %>
      <%= d.input :level %>
      <%= d.input :provider,
                        collection: Provider.all,
                        label_method: :name,
                        value_method: :id,
                        include_blank: false,
                        label: "Provider" %>
    <% end %>
  </div>
  <div class="modal-footer">
  </div>
</div>