<div class="large-12 columns operation-period-container">
  <div class="row">
    <h3>
      Operational Periods
      <span class="add_operation_period_button">
        <%= link_to [ :new, @plan, :operation_period ], remote: true, class: "button primary tiny radius right", id: "new_operation_period" do %> 
          <i class="fi-plus"></i> ADD OPERATIONAL PERIOD
        <% end %>
      </span>
    </h3>
  </div>
  <div class="row">
    <ul class="tabs" id="operation-period-tabs" data-tab>
      <% @plan.operation_periods.each_with_index do |operation_period, index| %>
        <%= render 'plans/operation_period_tabs', count: index+1, period: operation_period %>
      <% end %>
    </ul>
    <div class="tabs-content">
      <% @plan.operation_periods.each.with_index do |operation_period, index| %>
        <%= render 'operation_periods/operation_period', operation_period: operation_period, count: index+1, f: f %>
      <% end %>
    </div>
  </div>
</div>
