<div class="row">
  <div class="large-9 columns">
    <ul class="button-group radius">
      <li><a href="#" class="button">Draft</a></li>
      <li><a href="#" class="button <%= @plan.awaiting_review? ? 'active' : 'none' %>">Submitted</a></li>
      <li><a href="#" class="button">Revision</a></li>
      <li><a href="#" class="button">Under Review</a></li>
      <li><a href="#" class="button">Approved</a></li>          
    </ul>
  </div> 
  <div class="large-3 columns"> 
    <a href="#" class="button tiny radius" style="background: gray;">Post Event<br>Treatment Report</a>
  </div>         
</div>