  <div class="row">
    <div class="large-12 columns new-event-info">
      <h6>Responsibility</h6>
      <p>The medical group supervisor or the event coordinator must contact the dispatch supervisor at DEC to take responsibility for the event footprint at the beginning of each operational period and release responsibility for the footprint at the end of each operational period.</p>
      <a href="#" class="button tiny radius">Accept</a>    
    </div> 
    <div class="large-12 columns new-event-info">
      <h6>CPR & 911</h6>
      <p>During the operational period of the event safety personnel will follow the existing communications plan and will contact 911 only if medical needs overwhelm the capabilities of dedicated contracted medical assets. All medical interventions are the responsibility of the dedicated/contracted medical staff.</p>
      <a href="#" class="button tiny radius">Accept</a>    
    </div> 
    <div class="large-12 columns new-event-info">
      <h6>Communications</h6>
      <p>All event safety personnel will have a list of contact info and will be communicating as specified in the Medical Assets section<br> In case of emergency during the event, the event coordinator can be reached at all times at:</p>
      <label>
        <input type="text" placeholder="(123) 456-7890" />
      </label> 
      <a href="#" class="button tiny radius">Accept</a>              
    </div> 
    <div class="large-12 columns new-event-info">
      <h6>Supplementary Documents</h6>
      <a href="#" class="button tiny radius"><i class="fi-plus"></i> Upload</a>     
    </div>                                            
    <div class="large-12 columns new-event-info">
      <h6>Post Event Treatment Report Creator</h6>
      <p> 
      <label><i class="fi-torso"></i> Name
        <input type="text" placeholder="" />
      </label></p>
      <p> 
      <label><i class="fi-mail"></i> Email
        <input type="text" placeholder="" />
      </label></p>
      <p> 
      <label><i class="fi-telephone"></i> Phone
        <input type="text" placeholder="" />
      </label></p>    
    </div> 
  </div>  
