<div class="row plan-state">
  <div class="large-8 columns">
  <!--
    <ul class="button-group radius">
      <li><a href="#" class="button">Draft</a></li>
      <li><a href="#" class="button <%= @plan.awaiting_review? ? 'active' : 'none' %>">Submitted</a></li>
      <li><a href="#" class="button">Revision</a></li>
      <li><a href="#" class="button">Under Review</a></li>
      <li><a href="#" class="button">Approved</a></li>          
    </ul>
  -->
    <ul class="breadcrumb">
      <li><a href="#">Draft</a></li>
      <li><a href="#" class="<%= @plan.awaiting_review? ? 'active' : 'none' %>">Under Review</a></li>
      <li><a href="#">Revision Requested</a></li>
      <li><a href="#">Approved</a></li>
    </ul>    
  </div> 

  <div class="large-4 columns"> 
    <ul class="button-group radius">
      <li><a href="#" class="button tiny contact-list">Contact List<br><br></a></li>
      <li><a href="#" class="button tiny">Post Event<br>Treatment Report</a></li>          
    </ul>
  </div>         
</div>

