<% plan_form = form_builder_for(@plan) %>
<% 1.upto(@count - 1).map { |c| render(partial: 'operation_period', locals: { plan_form: plan_form, count: c } ) } %>

$(".tabs-content").append("<%= j render(partial: 'operation_period', locals: { plan_form: plan_form, count: @count } )%>")
$(".tabs").append('<li class="tab-title"><a href="#panel<%= @count %>">Operational Period <%= @count %></a></li>')
$(".add_operation_period_button").html('<%= link_to add_operation_period_path(@count), remote: true, class: "button primary tiny radius right", id: "new_operation_period"  do %><i class="fi-plus"></i> ADD OPERATIONAL PERIOD<% end %>')
$('.dateSelect').fdatetimepicker({
    format: 'mm/dd/yyyy H:ii p'
  });
$(".tab-title:last a").trigger("click");
