<fieldset id="supplementary-document-container">
  <legend>SUPPLEMENTARY DOCUMENTS</legend>
  <div class="large-7 columns">
    <%= render partial: "supplementary_documents/supplementary_document", collection: parent.supplementary_documents, spacer_template: "supplementary_documents/spacer" %>
    <% if can? :edit, parent %>
      <%= link_to [ :new, parent, :supplementary_document ], class: "button tiny radius", remote: true do %>
        <i class="fi-plus"></i> ADD DOCUMENT</a>
      <% end %>
    <% end %>
    <div id="supplementary-document-modal"></div>
  </div>
  <% if parent.is_a?(Plan) %>
    <div class="large-4 columns end">
      <%= render 'plans/comment_form', plan: parent, title: "documents" %>
    </div>
  <% end %>
  <div class="large-12 columns end">
    <p>Use this section to add any additional supporting documents, e.g. maps, additional staff/contact lists, crisis plans, etc.</p>
  </div>
</fieldset>               
