<div id="stepFourteen" class="row">
  <% defined?(f) == "local-variable" ? @f = f : @f = nil %>
  <div id="supplementary-document-container" class="large-12 columns list shadow">
    <h3 class="title">Supplementary Documents</h3>
    <p>Use this section to add any additional supporting documents, e.g. maps, additional staff/contact lists, crisis plans, etc.</p>
    <div class="large-12 columns">
      <%= render partial: "supplementary_documents/supplementary_document", collection: parent.supplementary_documents.not_staff_contact, spacer_template: "supplementary_documents/spacer", locals: { f: @f } %>

      <% if can? :edit, parent %>
        <%= link_to [ :new, parent, :supplementary_document ], class: "button tiny radius", remote: true do %>
          <i class="fi-plus"></i> ADD DOCUMENT</a>
        <% end %>
      <% end %>
      <div id="supplementary-document-modal"></div>
    </div>
    <% if parent.is_a?(Plan) %>
    <div class="large-4 columns end">
      <%= render 'plans/comment_form', plan: parent, title: "documents" %>
    </div>
    <% end %>
  </div>
</div>
